html {
  width: 100%;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #00C1CF;
  overflow: hidden;
  color: #1747ff;
  height: 100%;
}
canvas {
  // border: 1px solid white;
}

#frame {
  width: 400px;
  height: 650px;
  background: #6BE8CD;
  border: 3px solid #333B4F; 
}

#frame2 {
  width: 30%;
  height: 60%;
  background: #3776A1;
}


