* {
  box-sizing: content-box; 
}
html {
  width: 100%;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;  
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  background: #00C1CF;
  overflow: hidden;
  color: rgb(0, 138, 108);
  height: 100%;
}

header {
  margin-bottom: 2rem;
}

button {
  width:200px;
  height: 2em;
  transition: all ease 0.3s ;
}

.frame {
  width: 30%;
  height: 150px;
  background: #6BE8CD;
  border: 3px solid #333B4F; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

#frame2 {
  width: 30%;
  height: 150px;
  background: #3776A1;
}
#frame6 {
  width: 50%;
  height: 450px;
  background: #3776A1;
}

.frame__container {
  min-height: 100%;
  min-width: 100%;
  padding: 2rem;
  color: #daf1ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease

}

.frame__container--hidden { 

  opacity: 0;

}

.frame__overlay {
  /* display: none; */
  padding: .5rem;
  position: absolute;
  z-index: 100;
  margin: -100% 0 0 0;
  transition: all .2s ease
}

.frame__overlay--show {
  display: block;
  margin: 0;

}

h2 {
  font-size: 1.3rem;
  color: #003554;
}
h3 {
  font-size: 1rem;
  color: #003554;
}


.button__type {
  border: none;
}

.active {
  color: white;
  background: #3776A1;
}
.active:focus {
  outline: 0;
}